
.flex-between{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.center{
  align-items: center;
  text-align: center;
}

.phone-num{
  font-size: 30px;
  font-weight: bold;
}

.services{
  text-align: center;
/* color: #8cc63f; */
}

.box{
 
 border: 1px solid #8cc63f;
  border-radius: 15px;
  height: 300px;
  min-width: 250px;
  text-align: center;
}


a.nav-link{
  color: white;
  font-size: 25px;
  border-radius: 15px;
}

.flex-around{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}


ul{
  font-weight:600;
  background-color: #6b2a76;
  color: white;
  /* font-family: 'Times New Roman', Times, serif; */

}

.purple-text{
  color:#6b2a76;
}

