@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.center {
  align-items: center;
  /* text-align: center; */
}
.centers {
  align-items: center;
  text-align: center;
}

.phone-num {
  font-size: 20px;
  font-weight: bold;
}

.services {
  text-align: center;
  /* color: #8cc63f; */
}

a.nav-link {
  color: white;
  font-size: 25px;
  text-decoration: none;
  color: inherit;

  /* border-radius: 15px; */
}

a.nav-link:hover {
  color: #8cc63f;
}

li.nav-item {
  border: 1px solid;
  text-decoration: none;
  color: inherit;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

ul {
  font-weight: 500;
  background-color: #6c2976;
  color: white;
}

.purple-text {
  color: #6b2a76;
}

.p1 .p2 {
  font-weight: bolder;
}

.list {
  background-color: white;
  font-weight: lighter;
  /* color: black; */
  font-size: 20px;
  /* font-weight: bold; */
}

.btn {
  width: 150px;
  height: 40px;
  /* border-radius: 25px; */

  /* background-color: #8cc63f; */
}

.contact {
  color: white;
  font-size: 20px;
  /* font-weight: 400; */
  font-weight: bold;
}

.contact-font {
  font-size: 25px;
  font-weight: bold;
}

.top-box a {
  text-decoration: none;
  color: #6b2a76;
}

.top-box a:hover {
  color: #8cc63f;
}

/* .left-margin {
  margin-left: 50px;
} */

.career_background {
  /* background-color: #8cc63f; */
  min-height: 200px;
}

.leftside,
.rightside {
  min-height: 500px;
  width: 100%;
}

.leftside {
  /* background-color: lightblue; */
}

.rightside {
  /* background-color: lightgreen; */
}
